@import "tailwindcss";
@import "@fontsource-variable/host-grotesk";

@theme {
  --font-sans: "Host Grotesk Variable", sans-serif;

  --color-gray-50: #ffffff;
  --color-gray-100: #b5b5b5;
  --color-gray-200: #808080;
  --color-gray-300: #6a6a6a;
  --color-gray-400: #5e5e5e;
  --color-gray-500: #535353;
  --color-gray-600: #474747;
  --color-gray-700: #3b3b3b;
  --color-gray-800: #303030;
  --color-gray-900: #252525;
  --color-gray-950: #191919;

  --color-orange-200: #ffa566;
  --color-orange-400: #ff6900;

  --color-amber-200: #daae71;
  --color-amber-400: #cd9341;
  --color-amber-500: #c17812;
  --color-amber-700: #9a600e;

  --color-green-400: #64ffb1;
  --color-yellow-400: #ffc525;
  --color-red-400: #ff6467;

  --shadow-card-inset:
    inset 1px 1px 0px rgba(255, 255, 255, 0.2), inset -1px -1px 0px rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
